:root {
    --primary-color: #B29CE4;
    --light-primary-color: #E0D4FC;
    --font-color: #42326E;
    --light-font-color: white;
    --primary-font-color: #6E5B9A;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sour Gummy', sans-serif;
    --third-font: 'Playwrite BE VLG', cursive;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: var(--font-color);
}

.app-bar {
    background-color: var(--primary-color);

    padding: 24px;

    display: flex;
    justify-content: space-between;

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-font-color);

        font-family: var(--third-font), cursive;

        span:nth-child(2) {
            font-size: .65em;
        }

        span {
            margin-left: 2px;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /*font-family: var(--third-font), cursive;*/

        span {
            margin-left: 16px;
            text-transform: uppercase;
        }
    }
}

.banner{
    background-color: var(--light-primary-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px;

    .date{
        position: absolute;
        font-size: 3rem;
        opacity: .25;

        font-family: var(--secondary-font), sans-serif;
    }

    .name{
        font-size: 2rem;
        text-align: center;
        font-family: var(--secondary-font), sans-serif;
    }
}

.cover{
    position: relative;
    img{
        position: absolute;
        width: 100%;

        object-fit: cover;
        height: 400px;
        object-position: 50% 50%;

        filter: brightness(40%);
    }

    .timings{
        position: absolute;

        width: 100%;
        height: 400px;

        display: flex;
        justify-content: center;
        align-items: end;

        font-family: var(--third-font), sans-serif;
        line-height: 2rem;
        font-size: 1.5rem;
        color: var(--light-font-color);

        .timing{
            display: flex;
            flex-wrap: wrap;
            padding: 16px;
            justify-content: center;
            align-items: center;
            text-align: center;

            position: relative;

            &:not(:last-child) .value::after{
                content: ':';
                position: absolute;
                right: 0;
            }

            .value{
                width: 50px;
            }

            .name{
                width: 100%;
                font-size: 1.2rem;
                opacity: .7;
            }
        }

    }
}
