:root {
    --primary-color: #B29CE4;
    --dark-primary-color: #947cbc;
    --light-primary-color: #E0D4FC;
    --font-color: #42326E;
    --light-font-color: white;
    --primary-font-color: #6E5B9A;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sour Gummy', sans-serif;
    --third-font: 'Playwrite BE VLG', cursive;
    --fourth-font: 'Kanit', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: var(--font-color);
}

.button {
    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;

    background-color: var(--primary-color);

    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
    border: none;

    text-transform: uppercase;

    margin-left: 8px;

    transition: background-color .3s;

    &:hover {
        background-color: var(--dark-primary-color);
    }

    .button-prefix-image {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    &[disabled] {
        background-color: #ccc;
        color: gray;
        cursor: not-allowed;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-font-color);

    font-family: var(--third-font), cursive;

    span:nth-child(2) {
        font-size: .65em;
    }

    span {
        margin-left: 2px;
    }
}

.field{
    .label{
        font-weight: 500;
        margin-bottom: 8px;
        display: block;

    }

    .input{
        display: flex;
        align-items: center;

        margin-bottom: 16px;
        border: 1px solid var(--light-primary-color);
        background: white;
        border-radius: 8px;
        padding: 8px;
        width: calc(100% - 16px);

        .prefix{
            margin-right: 8px;
            font-size: .8rem;
            font-weight: bold;
        }

        input, textarea {
            width: 100%;
            border: none;
            outline: none;

            font-family: var(--fourth-font), sans-serif;
            font-size: .9em;

            &::placeholder{
                color: var(--dark-primary-color);
            }
        }

        &:focus-within{
            border-color: var(--primary-color);
        }

    }
}

.home {
    .app-bar {
        background-color: var(--primary-color);

        padding: 24px;

        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-weight: bold;

            span {
                margin-left: 16px;
                text-transform: uppercase;
            }
        }
    }

    .banner {
        background-color: var(--light-primary-color);
        color: var(--primary-font-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;

        .date {
            position: absolute;
            font-size: 3rem;
            opacity: .25;

            font-family: var(--secondary-font), sans-serif;
        }

        .name {
            font-size: 2rem;
            text-align: center;
            font-family: var(--secondary-font), sans-serif;
        }
    }

    .cover {
        position: relative;
        height: 400px;

        img {
            position: absolute;
            width: 100%;

            object-fit: cover;
            height: 400px;
            object-position: 50% 50%;

            filter: brightness(40%);
        }

        .timings {
            position: absolute;

            width: 100%;
            height: 400px;

            display: flex;
            justify-content: center;
            align-items: end;

            font-family: var(--third-font), sans-serif;
            line-height: 2rem;
            font-size: 1.5rem;
            color: var(--light-font-color);

            .timing {
                display: flex;
                flex-wrap: wrap;
                padding: 16px;
                justify-content: center;
                align-items: center;
                text-align: center;

                position: relative;

                &:not(:last-child) .value::after {
                    content: ':';
                    position: absolute;
                    right: 0;
                }

                .value {
                    width: 50px;
                }

                .name {
                    width: 100%;
                    font-size: 1.2rem;
                    opacity: .7;
                }
            }

        }
    }

    .place {
        display: flex;
        justify-content: center;

        padding: 32px;

        .card-place {

            display: flex;

            border-radius: 8px;

            box-shadow: 0 0 8px rgba(0, 0, 0, .3);

            .image-wrapper img {

                width: 24vw;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;

                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .place-info {
                padding: 32px;

                display: flex;
                flex-direction: column;

                .title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 24px;
                }

                .info {
                    position: relative;
                    display: flex;
                    align-items: center;

                    padding: 8px 0;
                    z-index: 1;

                    .icon {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: var(--light-primary-color);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    span {
                        margin-left: 16px;
                    }

                    &:not(:last-child)::after {
                        content: '';
                        width: 24px;
                        height: 0;
                        border: 2px dashed var(--light-primary-color);

                        transform: rotate(90deg);

                        position: absolute;
                        left: 2px;
                        bottom: 1px;

                        z-index: 0;
                    }
                }

                .actions {
                    display: flex;

                    margin-top: auto;
                }
            }
        }
    }

    .mural {
        text-align: center;
        margin-bottom: 32px;

        .title {
            font-size: 3rem;
            font-family: var(--secondary-font), sans-serif;
            margin: 24px 0 40px 0;
        }

        .posts {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .post, .newPost {
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 280px;
                border: 1px solid var(--light-primary-color);
                border-radius: 8px;

                padding: 24px;

                margin: 16px;

                box-shadow: 0 0 8px rgba(0, 0, 0, .1);
                background: white;
            }

            .post {
                .header {
                    display: flex;

                    .avatar {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: var(--light-primary-color);
                        margin-right: 16px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;

                        flex-grow: 1;

                        span:first-child {
                            font-size: 1.1rem;
                            font-weight: bold;
                        }

                        span:last-child {
                            display: flex;

                            img {
                                width: 20px;
                                height: 20px;

                                margin-right: 2px;
                            }
                        }
                    }

                    .delete {
                        cursor: pointer;

                        &:hover {
                            opacity: .7;
                        }
                    }
                }

                .message {
                    padding-top: 24px;

                    white-space: pre-wrap;
                }
            }

            .newPost {
                align-items: center;

                .icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: var(--light-primary-color);
                    margin-right: 16px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 60px;
                    }
                }

                .form {
                    padding: 16px 0;
                }
            }
        }
    }

    .gifts{
        text-align: center;
        margin-bottom: 32px;

        h1{
            margin: 0;
        }

        .products{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            padding: 32px;

            .product{
                max-width: 210px;
                margin: 24px;

                span{
                    text-align: left;
                    display: block;

                    &.name{
                        font-weight: bold;
                    }

                    &.price{
                        margin-bottom: 8px;

                        font-weight: 300;
                    }
                }

                .button{
                    margin-left: 0;
                    width: 100%;
                }

                img{
                    width: 100%;
                    border: 1px solid rgba(.3,.3,.3,.1);

                    object-fit: cover;
                    object-position: 50% 50%;

                    border-radius: 8px;
                }
            }
        }
    }
}

@media only screen and (max-width: 428px), (-webkit-min-device-pixel-ratio: 3) {
    .home {
        .app-bar {
            .menu {
                span {
                    font-size: 0;
                }

                span:after {
                    content: attr(data-label);
                    display: block;
                    font-size: 14px;
                    font-weight: bold;
                    opacity: 1;
                }
            }
        }

        .banner{
            padding: 16px;

            .date{
                font-size: 2rem;
            }

            .name{
                font-size: 1.3rem;
            }
        }

        .cover{
            height: 180px;

            img{
                height: 180px;
            }

            .timings{
                height: 180px;

                .timing {
                    padding: 0;

                    .value {
                        width: 30px;
                        font-size: 1rem;
                    }

                    .name {
                        font-size: 1rem;
                    }
                }
            }
        }

        .place{
            padding: 24px;

            .card-place {
                background: white;
                flex-direction: column;

                .image-wrapper img {
                    width: 100%;
                    height: unset;
                    border-radius: 8px 8px 0 0;
                }

                .place-info {
                    padding: 16px;

                    .title {
                        font-size: 1.2rem;
                    }

                    .info {
                        .icon {
                            width: 24px;
                            height: 24px;

                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        span {
                            margin-left: 8px;
                        }

                        &:not(:last-child)::after {
                            width: 16px;
                        }
                    }

                    .actions{
                        margin-left: 0;
                        margin-top: 24px;

                        >*:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .mural{
            padding: 24px;
            margin-bottom: 0;

            .title{
                font-size: 2rem;
            }

            .posts{
                flex-direction: column;
                .post, .newPost{
                    width: unset;

                    /*padding: 0;*/
                    margin: 8px 0;
                }
            }
        }
    }
}

.checkout{
    >* {
        display: flex;
        justify-content: center;
    }

    .app-bar{
        width: 100vw;
        padding: 16px 0;

        .content{
            width: 1024px;
        }
    }

    .warning{
        background: #e3e3e3;
        color: var(--font-color);
        font-weight: 100;
        padding: 16px 0;
        font-size: .9rem;

        a{
            color: var(--font-color);
            text-decoration: none;
            font-weight: 400;
            margin:  0 4px;
        }
    }

    .form, .summary{
        width: 400px;
    }

    .form{
        padding: 32px;
        background-color: white;
        margin: 24px;
        border-radius: 8px;

        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);

        .title{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 16px;
        }

        .action{
            width: 100%;
        }

        .payment-option{
            display: flex;
            align-items: center;

            padding: 24px 16px;
            cursor: pointer;

            &:hover{
                background: #f9f9f9;
            }

            .icon img{
                width: 32px;
            }

            .text {
                padding-left: 24px;
                flex-grow: 1;
                span {
                    display: block;

                    &:first-child{
                        font-weight: bold;
                    }
                    &:last-child{
                        font-weight: 300;
                        font-size: .9rem;
                    }
                }
            }

            .suffix img{
                width: 88px;
            }
        }
    }

    .summary{
        padding: 32px;
        .header{
            display: flex;
            align-items: start;
            padding: 24px 0;

            .title{
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 16px;
                font-family: var(--fourth-font), sans-serif;
                line-height: 1em;
            }
        }

        .product{
            display: flex;
            align-items: center;
            padding: 16px 0;

            .name{
                flex-grow: 1;
                color: gray;
                font-weight: 400;
            }

            .price{
                font-weight: 300;
                max-width: 110px;
            }
        }

        .total{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 0;
            border-top: 1px solid rgba(0,0,0,.1);

            font-weight: bold;
        }

        .card-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background: #e6e6e6;
            border-radius: 8px;

            img{
                width: 120px;
            }
        }

        .header .avatar img, .product img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--light-primary-color);
            margin-right: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
