:root {
    --primary-color: #B29CE4;
    --dark-primary-color: #947cbc;
    --light-primary-color: #E0D4FC;
    --font-color: #42326E;
    --light-font-color: white;
    --primary-font-color: #6E5B9A;

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sour Gummy', sans-serif;
    --third-font: 'Playwrite BE VLG', cursive;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: var(--font-color);
}

.button{
    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;

    background-color: var(--primary-color);

    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
    border: none;

    text-transform: uppercase;

    margin-left: 8px;

    transition: background-color .3s;

    &:hover{
        background-color: var(--dark-primary-color);
    }

    .button-prefix-image{
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}


.home {
    .app-bar {
        background-color: var(--primary-color);

        padding: 24px;

        display: flex;
        justify-content: space-between;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--primary-font-color);

            font-family: var(--third-font), cursive;

            span:nth-child(2) {
                font-size: .65em;
            }

            span {
                margin-left: 2px;
            }
        }

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-weight: bold;

            span {
                margin-left: 16px;
                text-transform: uppercase;
            }
        }
    }

    .banner {
        background-color: var(--light-primary-color);
        color: var(--primary-font-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 24px;

        .date {
            position: absolute;
            font-size: 3rem;
            opacity: .25;

            font-family: var(--secondary-font), sans-serif;
        }

        .name {
            font-size: 2rem;
            text-align: center;
            font-family: var(--secondary-font), sans-serif;
        }
    }

    .cover {
        position: relative;
        height: 400px;

        img {
            position: absolute;
            width: 100%;

            object-fit: cover;
            height: 400px;
            object-position: 50% 50%;

            filter: brightness(40%);
        }

        .timings {
            position: absolute;

            width: 100%;
            height: 400px;

            display: flex;
            justify-content: center;
            align-items: end;

            font-family: var(--third-font), sans-serif;
            line-height: 2rem;
            font-size: 1.5rem;
            color: var(--light-font-color);

            .timing {
                display: flex;
                flex-wrap: wrap;
                padding: 16px;
                justify-content: center;
                align-items: center;
                text-align: center;

                position: relative;

                &:not(:last-child) .value::after {
                    content: ':';
                    position: absolute;
                    right: 0;
                }

                .value {
                    width: 50px;
                }

                .name {
                    width: 100%;
                    font-size: 1.2rem;
                    opacity: .7;
                }
            }

        }
    }

    .place {
        display: flex;
        justify-content: center;

        padding: 32px;

        .card-place {

            display: flex;

            border-radius: 8px;

            box-shadow: 0 0 8px rgba(0, 0, 0, .3);

            .image-wrapper img {

                width: 24vw;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;

                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .place-info{
                padding: 32px;

                display: flex;
                flex-direction: column;

                .title{
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 24px;
                }

                .info{
                    position: relative;
                    display: flex;
                    align-items: center;

                    padding: 8px 0;
                    z-index: 1;

                    .icon{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: var(--light-primary-color);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }

                    span{
                        margin-left: 16px;
                    }

                    &:not(:last-child)::after{
                        content: '';
                        width: 24px;
                        height: 0;
                        border: 2px dashed var(--light-primary-color);

                        transform: rotate(90deg);

                        position: absolute;
                        left: 2px;
                        bottom: 1px;

                        z-index: 0;
                    }
                }

                .actions{
                    display: flex;

                    margin-top: auto;
                }
            }
        }
    }

    .mural{
        text-align: center;
        margin-bottom: 32px;

        .title{
            font-size: 3rem;
            font-family: var(--secondary-font), sans-serif;
            margin: 24px 0 40px 0;
        }

        .posts{
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .post, .newPost{
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 300px;
                border: 1px solid var(--light-primary-color);
                border-radius: 8px;

                padding: 24px;

                margin: 16px;

                box-shadow: 0 0 8px rgba(0, 0, 0, .1);
            }

            .post{
                .header{
                    display: flex;

                    .avatar{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: var(--light-primary-color);
                        margin-right: 16px;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .info{
                        display: flex;
                        flex-direction: column;

                        span:first-child{
                            font-size: 1.1rem;
                            font-weight: bold;
                        }

                        span:last-child {
                            display: flex;

                            img {
                                width: 20px;
                                height: 20px;

                                margin-right: 2px;
                            }
                        }
                    }
                }

                .message{
                    padding-top: 24px;
                }
            }

            .newPost{

            }
        }
    }
}
